.App {
  text-align: center;
  height: 100vh;
  background-image: url(./footer.png);
  background-position: left bottom;
  background-repeat: repeat-x;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 80px;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: 1.5em;
}

code {
  padding: 0.2em;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color: #0d4a59;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
